@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  --card-background: #ffffff;
}

[data-theme='dark'] {
  --background: #0a0a0a;
  --foreground: #ededed;
  --card-background: #171717;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
